@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    h1{
        font-weight: 700;
        font-size: 36px;
    }
    h2 {
        font-weight: 600;
        font-size: 24px;
    }
    h3 {
        font-weight: 400;
        font-size: 20px;
    }
    h4 {
        font-weight: 300;
        font-size: 16px;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
    .container {
        max-width: 90vw;
        min-width: 50vw;
        margin: auto;
        padding: 20px;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 30px 0;
            position: relative;
             &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: #e8e8e8;
            }
            h1 {
                margin: 0;
                font-size: 20px;
            }
            nav {
                button {
                    margin-left: 10px;
                    background: none;
                    border: none;
                    color: black;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                    h4 {
                        color: rgb(110, 110, 110);
                        padding: 5px 10px;
                        margin: 0;
                    }
                    
                }
                .sign_up_button {
                    border: 1px solid rgb(210, 149, 169);
                    border-radius: 10px;
                    h4 {
                        color: rgb(110, 110, 110);
                        padding: 10px 15px;
                        margin: 0;
                    }
                    
                    &:hover {
                        text-decoration: none;
                        background-color: rgba(198, 198, 198, 0.156);
                        h4 {
                            color:  rgb(210, 149, 169);
                            padding: 10px 15px;
                            margin: 0;
                        }
                    }
                }
            }
        }
        main {
            margin: 0px;
            .main_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 30px 0;
                position: relative;
                width: 100%;
                h1 {
                    margin: 0;
                    padding: 15px 0;
                }
                h3 {
                    margin: 0;
                    padding: 15px 0;
                }
                .main_info_about_us {
                    flex: 1;
                    margin-right: 20px;
                    max-width: 60vw; 
                    margin: 0;
                    padding: 15px;
                    .main_info_buttons {
                        margin: 0;
                        padding: 15px 0;
                        .our_events_main_button {
                            
                            background: none;
                            background-color: rgb(210, 149, 169);
                            border: none;
                            color: black;
                            cursor: pointer;
                            border: 1px solid rgb(210, 149, 169);
                            border-radius: 10px;
                            h4 {
                                color: rgb(255, 255, 255);
                                padding: 10px 15px;
                                margin: 0;
                            }
                            
                            &:hover {
                                text-decoration: none;
                                background-color: rgba(198, 198, 198, 0.156);
                                h4 {
                                    color:  rgb(210, 149, 169);
                                    padding: 10px 15px;
                                    margin: 0;
                                }
                            }
                        }
                        .sign_up_main_button {
                            margin-left: 10px;
                            background: none;
                            border: none;
                            color: black;
                            cursor: pointer;
                            border: 1px solid rgb(210, 149, 169);
                            border-radius: 10px;
                            h4 {
                                color: rgb(110, 110, 110);
                                padding: 10px 15px;
                                margin: 0;
                            }
                            
                            &:hover {
                                text-decoration: none;
                                background-color: rgba(198, 198, 198, 0.156);
                                h4 {
                                    color:  rgb(210, 149, 169);
                                    padding: 10px 15px;
                                    margin: 0;
                                }
                            }
                        }
                    
                        h4 {
                            color: rgb(110, 110, 110);
                            padding: 5px 10px;
                            margin: 0;
                        }
                    }
                }
                img {
                    max-width: 250px;
                    height: auto;
                    border-radius: 20px;
                }
            }
            .main_info::before {
                content: '';
                position: absolute;
                inset: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                background: linear-gradient(
                    70deg,
                    #fdfbfb,
                    #ff14d028
                );
                z-index: -1;
                }
            .about_us {
                margin: 0;
                padding: 60px 0 30px 0;
                h2 {
                    margin: 0;
                    padding: 0;
                }
                .about_us_container {
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;
                    align-items: first baseline;

                    .about_us_text {
                        width: 60%;
                        margin-right: 20px;
                        max-width: 50vw;
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .about_us_catalog {
                        width: 20%;
                        margin: 0;
                        padding: 0;
                    }
                }

                
                
            }
        }
        .events{
            margin: 0;
            padding: 50px 0 25px;
            h2 {
                margin: 0;
                padding: 0 0 30px 0;
            }
            .events_list {
                display: flex;
                justify-content: space-between;
                .event_list {
                    margin-bottom: 20px;
                    width: 25%;
                    gap: 20px;
                    height: 350px;
                    background-color: #fde4f59a;
                    border-radius: 15px;
                    padding: 0 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 4px 14px 30px 7px rgba(43, 67, 85, 0.2);
                    .event_description {
                        padding: 15px;
                        border-radius: 15px;
                        background-color: #ffffffc6;
                        box-shadow: 4px 14px 25px -8px rgba(34, 60, 80, 0.2);
                        
                    }
                }
            }
        }
        .textile {
            padding: 25px 0;
            .textile_items {
                display: flex;
                justify-content: space-between;
                .textile_item {
                    margin-bottom: 20px;
                    width: 25%;
                    gap: 20px;
                    height: 350px;
                    background-color: #fde4f59a;
                    border-radius: 15px;
                    padding: 0 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: 4px 14px 30px 7px rgba(43, 67, 85, 0.2);
                    h4 {
                        padding: 15px;
                        border-radius: 15px;
                        background-color: #ffffffc6;
                        box-shadow: 4px 14px 25px -8px rgba(34, 60, 80, 0.2);
                        
                    }
                }
            }
        }
        .sign_up {
            margin: 40px;
            h2 {
                text-align: center;
            }
            form {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                
                .all_forms_container {
                    display: flex;
                    justify-content: space-between;
                    width: 60vw;
                    padding: 20px 0;
                    margin: 15px;
                    .form_container {
                        label {
                            margin: 0 15px 5px 0;
                        }
                        input, select {
                            margin-bottom: 10px;
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                    }
                }
            }
            .submit {
                
                margin: 0;
                background-color: rgb(210, 149, 169);
                color: rgb(255, 255, 255);
                border: none;
                border-radius: 4px;
                width: 30vw;
                h4{
                    margin: 10px 15px;
                }
                cursor: pointer;
                &:hover {
                    background-color: white;
                    border: 1px solid rgb(210, 149, 169);
                    color: rgb(210, 149, 169);
                }
            }
        }
        footer {
            text-align: center;
            padding: 20px 0;
        }
    }
}
