*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    .top-curtain {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1400px; 
        background: linear-gradient(
            to bottom,
            rgb(70, 47, 36),
            rgba(255, 255, 255, 0)
        );
        pointer-events: none; 
        z-index: 999;
        transition: opacity 0.1s ease;
        }
    h1{
        font-weight: 700;
        font-size: 50px;
    }
    h2 {
        font-weight: 600;
        font-size: 24px;
    }
    h3 {
        font-weight: 400;
        font-size: 20px;
    }
    h4 {
        font-weight: 300;
        font-size: 16px;
    }
    h5 {
        font-weight: 600;
        font-size: 14px;
    }
    p {
        font-weight: 300;
        font-size: 16px;
    }
    .container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        padding: 0 20px 20px ;
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 20px 0 40px 0;
            position: relative;
            
             &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: #e8e8e8;
            margin: 0;
            padding: 0;
            }
            h1 {
                margin: 0;
                color: white;
                z-index: 1000;
            }
            h2 {
                color: white;
                z-index: 1000;
                margin: 0 0 10px;
            }
            img {
                max-width: 180px;
                height: auto;
                border-radius: 20px;
                z-index: 1000;
                
            }
            h3 {
                color: white;
                z-index: 1000;
                margin: 20px 0;
                text-align: center;
            }
            nav {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                justify-content: center;
                a {
                    display: inline-flex;
                    align-items: center;
                    text-decoration: none;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 8px 12px;
                    border-radius: 10px;
                    transition: 0.2s ease;
                    h4 {
                    margin: 0;
                    color: white;
                    z-index: 1000;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .events_button {
                    margin: 0;
                    padding: 0;
                }
                .about_us_button {
                    padding: 5px 20px 5px 25px;
                }
                .textile_button {
                    padding: 5px 15px;
                }
                .sign_up_button {
                    margin: 10px;
                    border: 1px solid #8B4513;
                    background-color: #8B4513;
                    
                    h4 {
                    color: #ffffff;
                    }
                    &:hover {
                    text-decoration: none;
                    background-color: #ffffff;

                        h4 {
                            color: #ffffff;
                        }
                    }
                }
            }
            
        }
        
        main {
            margin: 0px;
            
            .main_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 30px 0;
                position: relative;
                width: 100%;
                flex-wrap: wrap;
                h1 {
                    margin: 0;
                    padding: 15px 0;
                }
                h3 {
                    margin: 0;
                    padding: 15px 0;
                }
                .main_info_about_us {
                    flex: 1;
                    margin-right: 20px;
                    min-width: 60%; 
                    margin: 0;
                    padding: 15px;
                    .main_info_buttons {
                        display: flex;
                        gap: 10px;
                        padding: 30px 0;
                        

                        a {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                            cursor: pointer;
                            border-radius: 10px;
                            border: 1px solid #8B4513;

                            padding: 10px 15px;
                            font-size: 16px;
                            font-weight: 400;

                            transition: 0.2s ease;
                        }

                        .our_events_main_button {
                            background-color: #8B4513;
                            color: white;
                            

                            &:hover {
                            background-color: #8b451330;
                            color: #8B4513;
                            }
                        }

                        .sign_up_main_button {
                            color: #8B4513;

                            &:hover {
                            background-color: #8b451310;
                            color: #8B4513;
                            }
                        }
                    }
                }
                img {
                    max-width: 250px;
                    height: auto;
                    border-radius: 20px;
                    margin-bottom: 30px;
                }
            }
            .main_info::before {
                content: '';
                position: absolute;
                inset: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                background: linear-gradient(
                    70deg,
                    #fdfbfb,
                    #8b451374
                );
                z-index: -1;
                }
            .about_us {
                margin: 0;
                padding: 60px 0 30px 0;
                h2 {
                    margin: 0;
                    padding: 0 0 20px 0;
                }
                .about_us_container {
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 0;
                    align-items: first baseline;
                    .about_us_text {
                        margin-right: 20px;
                        min-width: 50%;
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    .about_us_catalog {
                        min-width: 20%;
                        margin: 0;
                        padding: 0;
                    }
                }   
            }
            .events{
                margin: 0;
                padding: 50px 0 25px;
                h2 {
                    margin: 0;
                    padding: 0 0 30px 0;
                }
                
                .events_list {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 20px;
                    .event_list {
                        margin-bottom: 20px;
                        flex: 0 1 calc(33.333% - 20px);
                        height: 500px;
                        background-color: #8b451334;
                        border-radius: 15px;
                        padding: 0 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        box-shadow: 4px 14px 30px 7px rgba(43, 67, 85, 0.2);

                        .cost_date {
                            display: flex;
                            justify-content: space-between;
                            width: 90%;
                            margin: 25px 0;
                            padding: 0;
                        }
                        .img_container {
                            height: 80%;
                            width: 100%;
                            border-radius: 15px;
                            overflow: hidden;
                            box-shadow: 4px 14px 30px 7px #381c086c;
                            margin: 0;
                            padding: 0;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .event_description {
                            padding: 15px;
                            border-radius: 15px;
                            background-color: #ffffffc6;
                            box-shadow: 4px 14px 25px -8px rgba(34, 60, 80, 0.2);
                            margin: 30px 0 0;
                        }
                    }
                }
            }
            .textile {
                padding: 25px 0;
                h2 {
                    padding: 0 0 30px 0;
                    margin: 0;
                }
                .textile_items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px;
                    .textile_item {
                        margin-bottom: 20px;
                        flex: 0 1 calc(33.333% - 20px);
                        height: 400px;
                        background-color: #8b451334;
                        border-radius: 15px;
                        padding: 0 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        box-shadow: 4px 14px 30px 7px rgba(43, 67, 85, 0.2);
                        .img_container {
                            height: 80%;
                            width: 100%;
                            border-radius: 15px;
                            overflow: hidden;
                            box-shadow: 4px 14px 30px 7px #381c086c;
                            margin: 0;
                            padding: 0;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        h3 {
                            padding: 10px;
                        }
                        h4 {
                            margin: 30px 0;
                            padding: 15px;
                            border-radius: 15px;
                            background-color: #ffffffc6;
                            box-shadow: 4px 14px 25px -8px rgba(34, 60, 80, 0.2);
                        }
                    }
                }
            }
            .sign_up {
                margin: 60px 10px 30px;
                h2 {
                    text-align: center;
                    margin: 20px 0 40px;
                }
                form {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;
                    .all_forms_container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        width: 100%;
                        margin: 0;
                        padding: 0 0 30px;
                        justify-content: space-between;
                        .form_container {
                            display: flex;
                            flex-direction: column;
                            label {
                                margin: 0 15px 5px 0;
                            }
                            input, select {
                                margin-bottom: 10px;
                                padding: 8px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                width: 300px;
                            }
                        }
                    }
                    h5 {
                        margin-top: 20px;
                    }
                }
                .submit { 
                    margin: 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #8B4513;
                    cursor: pointer;
                    border-radius: 10px;
                    background-color: #8B4513;
                    color: white;
                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: 400;
                    transition: 0.2s ease;
                    h4{
                        margin: 0 15px;
                    }
                    &:hover {
                    background-color: #8b451310;
                    color: #8B4513;
                    }
                }
            }
        }
        
        footer {
            text-align: center;
            padding: 30px 0 10px;
            position: relative;
            &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 1px;
            background-color: #e8e8e8;
            margin: 0;
            padding: 0;
            }
        }
    }
    
}
@media (max-width: 768px) {
  .container {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        width: 100%;
        text-align: center;
      }

      nav {
        width: 100%;
        justify-content: center;
        margin-top: 10px;

        a {
          margin: 5px;
        }
      }
    }
    .about_us_container {
        flex-wrap: wrap;

        .about_us_text {
            width: 90%;
            p {
                margin: 0;
                padding: 0;
            }
        }
        .about_us_catalog {
            min-width: 20%;
            margin: 0;
            padding: 0;
        }
    }
    .events_list {
        flex-direction: column;
        align-items: center;

        .event_list {
            width: 100%;
            margin-bottom: 20px;
            flex: 1 1 100%;
        }
    }
    header {
        justify-content: center;
    }

    nav {
        width: 100%;
        justify-content: center;
    }
    .main_info {
        flex-direction: column;
        align-items: stretch;
        .main_info_about_us {
            max-width: 100%;
            padding: 0;
            .main_info_buttons {
                justify-content: space-around
            }
        }

        .main_info h1,
        .main_info h3 {
            width: 100%;
            text-align: left; // или center, если хочешь
        }
    }
    .textile {
        padding: 20px 0;
    }

    .textile_items {
        flex-direction: column;
        gap: 20px;
    }

    .textile_item {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .textile_item .img_container {
        height: auto;
        aspect-ratio: 3 / 4; // можно 1 / 1 если хочешь квадрат
    }

    .textile_item h4 {
        margin: 20px 0 0;
    }
    .all_forms_container {
        flex-direction: column;
        align-items: center;
    }
    .event_list .img_container {
        height: auto;
        aspect-ratio: 4 / 3;
  }
}
}
